# Prework
**Author:** github.com/juansevargasc

## CSV All Departures Data Exploration

In [1]:
import pandas as pd
#from sqlalchemy import create_engine

In [4]:
pathfile = '../data/csvFiles/CompleteData.csv'
df = pd.read_csv(pathfile, sep=',')

### Checking head and tails of data

In [ ]:
df.head()

In [ ]:
df.tail()

# Checking some columns to see how to prepare some values

The format function helps to see this numbers as Floats: `apply(lambda x: format(x, 'f'))`

In [ ]:
df['OP_CARRIER_FL_NUM'].describe().apply(lambda x: format(x, 'f'))

In [ ]:
df['MKT_CARRIER_FL_NUM'].describe().apply(lambda x: format(x, 'f'))

## Review and change Columns

In [ ]:
columns = df.columns.to_list()
columns

In [9]:
columns_new_name = { col:col.replace(' ','_').lower() for col in columns}

In [ ]:
columns_new_name

In [ ]:
with open('columns.txt', 'a+') as file:
    # Write
    for col in columns:
        file.write(col.lower())
        file.write('\n')

    # move cursor to the beginning of the file
    file.seek(0)

    # read from file
    file_contents = file.read()
    print(file_contents)

In [ ]:
df.info()

In [13]:
df = df.rename(columns=columns_new_name)

In [ ]:
df.columns

### Save to CSV

In [15]:
df.to_csv('../postgres-volume/stage_departures.csv', index=False)

In [33]:
!ls

columns.txt             postgres_departures.sql prework_etl.ipynb

# Stations

In [2]:
stations_path = '../data/csvFiles/Stations.csv'
df_stations = pd.read_csv(stations_path)

In [ ]:
df_stations.head(10)

In [4]:
result_json = df_stations.to_json(orient='columns')

In [ ]:
import json

json_stations = json.loads(result_json)
json.dumps(json_stations)

# Testing JSON

In [ ]:
stations_path = '../data/jsonFiles/stations_data.json'
df_stations_json = pd.read_json(stations_path)
df_stations_json.head()

In [ ]:
df_stations_json.info()

## Can ```AIRPORT_ID``` be the id of the table? Is it unique?

In [10]:
len (df_stations_json['AIRPORT_ID'].unique())

376

In [ ]:
import pandas as pd
technologies = {
    'Courses':["Spark","PySpark","Python","pandas","Python","Spark","pandas"],
    'Fee' :[20000,25000,22000,30000,22000,20000,30000],
    'Duration':['30days','40days','35days','50days','40days','30days','50days'],
    'Discount':[1000,2300,1200,2000,2300,1000,2000]
}
df = pd.DataFrame(technologies)
print(df)

In [12]:
df['Courses'].unique()

array(['Spark', 'PySpark', 'Python', 'pandas'], dtype=object)

___

In [ ]:
Testings

In [13]:
import pandas as pd

data = {'name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily', 'Frank', 'Grace', 'Henry', 'Isabella', 'Jack'],
        'age': [25, 32, 45, 19, 28, 36, 42, 50, 29, 27],
        'gender': ['F', 'M', 'M', 'M', 'F', 'M', 'F', 'M', 'F', 'M'],
        'earnings': [1500000, 2000000, 4670980, 3200000, 825000, 765000, 5400000, 980000, 2250000, 450000],
        'city': ['New York', 'San Francisco', 'Los Angeles', 'New York', 'Boston', 'Austin', 'Boston', 'Austin', 'San Francisco', 'Austin']}

df = pd.DataFrame(data)

print(df.head(10))

       name  age gender  earnings           city
0     Alice   25      F   1500000       New York
1       Bob   32      M   2000000  San Francisco
2   Charlie   45      M   4670980    Los Angeles
3     David   19      M   3200000       New York
4     Emily   28      F    825000         Boston
5     Frank   36      M    765000         Austin
6     Grace   42      F   5400000         Boston
7     Henry   50      M    980000         Austin
8  Isabella   29      F   2250000  San Francisco
9      Jack   27      M    450000         Austin

In [14]:
df['earnings'].apply(lambda x: x / 10**6)

0    1.50000
1    2.00000
2    4.67098
3    3.20000
4    0.82500
5    0.76500
6    5.40000
7    0.98000
8    2.25000
9    0.45000
Name: earnings, dtype: float64

In [15]:
df['earnings']

0    1500000
1    2000000
2    4670980
3    3200000
4     825000
5     765000
6    5400000
7     980000
8    2250000
9     450000
Name: earnings, dtype: int64

In [16]:
df.sort_values(by=['city', 'age','name', 'gender', 'earnings'], ascending=False)

       name  age gender  earnings           city
1       Bob   32      M   2000000  San Francisco
8  Isabella   29      F   2250000  San Francisco
0     Alice   25      F   1500000       New York
3     David   19      M   3200000       New York
2   Charlie   45      M   4670980    Los Angeles
6     Grace   42      F   5400000         Boston
4     Emily   28      F    825000         Boston
7     Henry   50      M    980000         Austin
5     Frank   36      M    765000         Austin
9      Jack   27      M    450000         Austin