# Prework

In [1]:
import pandas as pd
from sqlalchemy import create_engine

# CSV All Departures Data Exploration

In [5]:
pathfile = '../data/2022_departures/CompleteData.csv'
df = pd.read_csv(pathfile, sep=',')

In [6]:
df.head()

,FL_DATE,DEP_HOUR,MKT_UNIQUE_CARRIER,MKT_CARRIER_FL_NUM,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,TAIL_NUM,ORIGIN,DEST,DEP_TIME,...,DEW_POINT,REL_HUMIDITY,ALTIMETER,LOWEST_CLOUD_LAYER,N_CLOUD_LAYER,LOW_LEVEL_CLOUD,MID_LEVEL_CLOUD,HIGH_LEVEL_CLOUD,CLOUD_COVER,ACTIVE_WEATHER
0,2022-01-01,6,AA,1,AA,1,N106NN,JFK,LAX,2022-01-01 06:57:00,...,8.89,96.69,29.92,300.0,2.0,1.0,0.0,0.0,4.0,0.0
1,2022-01-01,8,AA,10,AA,10,N101NN,LAX,JFK,2022-01-01 08:57:00,...,0.61,44.92,29.87,4800.0,1.0,1.0,0.0,0.0,2.0,0.0
2,2022-01-01,0,AA,1003,AA,1003,N830NN,STL,ORD,2022-01-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-01-01,9,AA,1004,AA,1004,N805NN,ORD,FLL,2022-01-01 09:37:00,...,0.61,89.09,29.75,500.0,1.0,1.0,0.0,0.0,4.0,1.0
4,2022-01-01,23,AA,1007,AA,1007,N870NN,CLT,STL,2022-01-01 23:00:00,...,18.28,89.81,29.79,1500.0,3.0,1.0,0.0,1.0,3.0,0.0

In [14]:
df.tail()

,FL_DATE,DEP_HOUR,MKT_UNIQUE_CARRIER,MKT_CARRIER_FL_NUM,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,TAIL_NUM,ORIGIN,DEST,DEP_TIME,...,DEW_POINT,REL_HUMIDITY,ALTIMETER,LOWEST_CLOUD_LAYER,N_CLOUD_LAYER,LOW_LEVEL_CLOUD,MID_LEVEL_CLOUD,HIGH_LEVEL_CLOUD,CLOUD_COVER,ACTIVE_WEATHER
6954631,2022-12-31,12,WN,994,WN,994,N8566Z,PHX,ABQ,2022-12-31 12:37:00,...,8.28,85.48,30.02,5000.0,2.0,1.0,1.0,0.0,3.0,0.0
6954632,2022-12-31,19,WN,997,WN,997,N486WN,MEM,MCO,2022-12-31 19:19:00,...,11.72,90.29,29.95,700.0,1.0,1.0,0.0,0.0,4.0,0.0
6954633,2022-12-31,0,WN,998,WN,998,N448WN,SFO,BUR,2022-12-31 00:00:00,...,14.39,89.52,29.91,700.0,3.0,1.0,0.0,0.0,4.0,0.0
6954634,2022-12-31,10,WN,999,WN,999,N7836A,ATL,MIA,2022-12-31 10:23:00,...,12.22,93.32,30.02,8500.0,3.0,0.0,1.0,1.0,4.0,0.0
6954635,2022-12-31,7,WN,999,WN,999,N7836A,IND,ATL,2022-12-31 07:57:00,...,6.72,96.63,29.89,400.0,1.0,1.0,0.0,0.0,4.0,1.0

The format function helps to see this numbers as Floats: `apply(lambda x: format(x, 'f'))`

In [17]:
df['OP_CARRIER_FL_NUM'].describe().apply(lambda x: format(x, 'f'))

count    6954636.000000
mean        2503.919087
std         1718.438388
min            1.000000
25%         1084.000000
50%         2181.000000
75%         3762.000000
max         9680.000000
Name: OP_CARRIER_FL_NUM, dtype: object

In [16]:
df['MKT_CARRIER_FL_NUM'].describe().apply(lambda x: format(x, 'f'))

count    6954636.000000
mean        2503.922283
std         1718.422266
min            1.000000
25%         1084.000000
50%         2181.000000
75%         3762.000000
max         9680.000000
Name: MKT_CARRIER_FL_NUM, dtype: object

In [23]:
columns = df.columns.to_list()
columns

['FL_DATE',
 'DEP_HOUR',
 'MKT_UNIQUE_CARRIER',
 'MKT_CARRIER_FL_NUM',
 'OP_UNIQUE_CARRIER',
 'OP_CARRIER_FL_NUM',
 'TAIL_NUM',
 'ORIGIN',
 'DEST',
 'DEP_TIME',
 'CRS_DEP_TIME',
 'TAXI_OUT',
 'DEP_DELAY',
 'AIR_TIME',
 'DISTANCE',
 'CANCELLED',
 'LATITUDE',
 'LONGITUDE',
 'ELEVATION',
 'MESONET_STATION',
 'YEAR OF MANUFACTURE',
 'MANUFACTURER',
 'ICAO TYPE',
 'RANGE',
 'WIDTH',
 'WIND_DIR',
 'WIND_SPD',
 'WIND_GUST',
 'VISIBILITY',
 'TEMPERATURE',
 'DEW_POINT',
 'REL_HUMIDITY',
 'ALTIMETER',
 'LOWEST_CLOUD_LAYER',
 'N_CLOUD_LAYER',
 'LOW_LEVEL_CLOUD',
 'MID_LEVEL_CLOUD',
 'HIGH_LEVEL_CLOUD',
 'CLOUD_COVER',
 'ACTIVE_WEATHER']

In [26]:
columns_new_name = { col:col.replace(' ','_').lower() for col in columns}

In [27]:
columns_new_name

{'FL_DATE': 'fl_date',
 'DEP_HOUR': 'dep_hour',
 'MKT_UNIQUE_CARRIER': 'mkt_unique_carrier',
 'MKT_CARRIER_FL_NUM': 'mkt_carrier_fl_num',
 'OP_UNIQUE_CARRIER': 'op_unique_carrier',
 'OP_CARRIER_FL_NUM': 'op_carrier_fl_num',
 'TAIL_NUM': 'tail_num',
 'ORIGIN': 'origin',
 'DEST': 'dest',
 'DEP_TIME': 'dep_time',
 'CRS_DEP_TIME': 'crs_dep_time',
 'TAXI_OUT': 'taxi_out',
 'DEP_DELAY': 'dep_delay',
 'AIR_TIME': 'air_time',
 'DISTANCE': 'distance',
 'CANCELLED': 'cancelled',
 'LATITUDE': 'latitude',
 'LONGITUDE': 'longitude',
 'ELEVATION': 'elevation',
 'MESONET_STATION': 'mesonet_station',
 'YEAR OF MANUFACTURE': 'year_of_manufacture',
 'MANUFACTURER': 'manufacturer',
 'ICAO TYPE': 'icao_type',
 'RANGE': 'range',
 'WIDTH': 'width',
 'WIND_DIR': 'wind_dir',
 'WIND_SPD': 'wind_spd',
 'WIND_GUST': 'wind_gust',
 'VISIBILITY': 'visibility',
 'TEMPERATURE': 'temperature',
 'DEW_POINT': 'dew_point',
 'REL_HUMIDITY': 'rel_humidity',
 'ALTIMETER': 'altimeter',
 'LOWEST_CLOUD_LAYER': 'lowest_cloud_layer',
 'N_CLOUD_LAYER': 'n_cloud_layer',
 'LOW_LEVEL_CLOUD': 'low_level_cloud',
 'MID_LEVEL_CLOUD': 'mid_level_cloud',
 'HIGH_LEVEL_CLOUD': 'high_level_cloud',
 'CLOUD_COVER': 'cloud_cover',
 'ACTIVE_WEATHER': 'active_weather'}

In [20]:
with open('columns.txt', 'a+') as file:
    # Write
    for col in columns:
        file.write(col.lower())
        file.write('\n')

    # move cursor to the beginning of the file
    file.seek(0)

    # read from file
    file_contents = file.read()
    print(file_contents)

FL_DATE
DEP_HOUR
MKT_UNIQUE_CARRIER
MKT_CARRIER_FL_NUM
OP_UNIQUE_CARRIER
OP_CARRIER_FL_NUM
TAIL_NUM
ORIGIN
DEST
DEP_TIME
CRS_DEP_TIME
TAXI_OUT
DEP_DELAY
AIR_TIME
DISTANCE
CANCELLED
LATITUDE
LONGITUDE
ELEVATION
MESONET_STATION
YEAR OF MANUFACTURE
MANUFACTURER
ICAO TYPE
RANGE
WIDTH
WIND_DIR
WIND_SPD
WIND_GUST
VISIBILITY
TEMPERATURE
DEW_POINT
REL_HUMIDITY
ALTIMETER
LOWEST_CLOUD_LAYER
N_CLOUD_LAYER
LOW_LEVEL_CLOUD
MID_LEVEL_CLOUD
HIGH_LEVEL_CLOUD
CLOUD_COVER
ACTIVE_WEATHER
fl_date,dep_hour,mkt_unique_carrier,mkt_carrier_fl_num,op_unique_carrier,op_carrier_fl_num,tail_num,origin,dest,dep_time,crs_dep_time,taxi_out,dep_delay,air_time,distance,cancelled,latitude,longitude,elevation,mesonet_station,year of manufacture,manufacturer,icao type,range,width,wind_dir,wind_spd,wind_gust,visibility,temperature,dew_point,rel_humidity,altimeter,lowest_cloud_layer,n_cloud_layer,low_level_cloud,mid_level_cloud,high_level_cloud,cloud_cover,active_weather,
fl_date
dep_hour
mkt_unique_carrier
mkt_carrier_fl_num
op_unique_carrier
op_carrier_fl_num
tail_num
origin
dest
dep_time
crs_dep_time
taxi_out
dep_delay
air_time
distance
cancelled
latitude
longitude
elevation
mesonet_station
year of manufacture
manufacturer
icao type
range
width
wind_dir
wind_spd
wind_gust
visibility
temperature
dew_point
rel_humidity
altimeter
lowest_cloud_layer
n_cloud_layer
low_level_cloud
mid_level_cloud
high_level_cloud
cloud_cover
active_weather

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6954636 entries, 0 to 6954635
Data columns (total 40 columns):
 #   Column               Dtype
---  ------               -----
 0   FL_DATE              object
 1   DEP_HOUR             int64
 2   MKT_UNIQUE_CARRIER   object
 3   MKT_CARRIER_FL_NUM   int64
 4   OP_UNIQUE_CARRIER    object
 5   OP_CARRIER_FL_NUM    int64
 6   TAIL_NUM             object
 7   ORIGIN               object
 8   DEST                 object
 9   DEP_TIME             object
 10  CRS_DEP_TIME         object
 11  TAXI_OUT             int64
 12  DEP_DELAY            int64
 13  AIR_TIME             int64
 14  DISTANCE             int64
 15  CANCELLED            int64
 16  LATITUDE             float64
 17  LONGITUDE            float64
 18  ELEVATION            int64
 19  MESONET_STATION      object
 20  YEAR OF MANUFACTURE  int64
 21  MANUFACTURER         object
 22  ICAO TYPE            object
 23  RANGE                object
 24  WIDTH                object
 25  WIND_DIR             float64
 26  WIND_SPD             float64
 27  WIND_GUST            float64
 28  VISIBILITY           float64
 29  TEMPERATURE          float64
 30  DEW_POINT            float64
 31  REL_HUMIDITY         float64
 32  ALTIMETER            float64
 33  LOWEST_CLOUD_LAYER   float64
 34  N_CLOUD_LAYER        float64
 35  LOW_LEVEL_CLOUD      float64
 36  MID_LEVEL_CLOUD      float64
 37  HIGH_LEVEL_CLOUD     float64
 38  CLOUD_COVER          float64
 39  ACTIVE_WEATHER       float64
dtypes: float64(17), int64(10), object(13)
memory usage: 2.1+ GB

In [30]:
df = df.rename(columns=columns_new_name)

In [31]:
df.columns

Index(['fl_date', 'dep_hour', 'mkt_unique_carrier', 'mkt_carrier_fl_num',
       'op_unique_carrier', 'op_carrier_fl_num', 'tail_num', 'origin', 'dest',
       'dep_time', 'crs_dep_time', 'taxi_out', 'dep_delay', 'air_time',
       'distance', 'cancelled', 'latitude', 'longitude', 'elevation',
       'mesonet_station', 'year_of_manufacture', 'manufacturer', 'icao_type',
       'range', 'width', 'wind_dir', 'wind_spd', 'wind_gust', 'visibility',
       'temperature', 'dew_point', 'rel_humidity', 'altimeter',
       'lowest_cloud_layer', 'n_cloud_layer', 'low_level_cloud',
       'mid_level_cloud', 'high_level_cloud', 'cloud_cover', 'active_weather'],
      dtype='object')

In [35]:
df.to_csv('../postgres-volume/stage_departures.csv', index=False)

In [33]:
!ls

columns.txt             postgres_departures.sql prework_etl.ipynb