# Data Exploration
Github: @juansevargasc

In [2]:
import pandas as pd

## Main CSV file

In [4]:
df = pd.read_csv('../data/csvFiles/CompleteData.csv')
df.head()

,FL_DATE,DEP_HOUR,MKT_UNIQUE_CARRIER,MKT_CARRIER_FL_NUM,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,TAIL_NUM,ORIGIN,DEST,DEP_TIME,...,DEW_POINT,REL_HUMIDITY,ALTIMETER,LOWEST_CLOUD_LAYER,N_CLOUD_LAYER,LOW_LEVEL_CLOUD,MID_LEVEL_CLOUD,HIGH_LEVEL_CLOUD,CLOUD_COVER,ACTIVE_WEATHER
0,2022-01-01,6,AA,1,AA,1,N106NN,JFK,LAX,2022-01-01 06:57:00,...,8.89,96.69,29.92,300.0,2.0,1.0,0.0,0.0,4.0,0.0
1,2022-01-01,8,AA,10,AA,10,N101NN,LAX,JFK,2022-01-01 08:57:00,...,0.61,44.92,29.87,4800.0,1.0,1.0,0.0,0.0,2.0,0.0
2,2022-01-01,0,AA,1003,AA,1003,N830NN,STL,ORD,2022-01-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-01-01,9,AA,1004,AA,1004,N805NN,ORD,FLL,2022-01-01 09:37:00,...,0.61,89.09,29.75,500.0,1.0,1.0,0.0,0.0,4.0,1.0
4,2022-01-01,23,AA,1007,AA,1007,N870NN,CLT,STL,2022-01-01 23:00:00,...,18.28,89.81,29.79,1500.0,3.0,1.0,0.0,1.0,3.0,0.0

In [5]:
df = df.head(100)

In [6]:
df

,FL_DATE,DEP_HOUR,MKT_UNIQUE_CARRIER,MKT_CARRIER_FL_NUM,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,TAIL_NUM,ORIGIN,DEST,DEP_TIME,...,DEW_POINT,REL_HUMIDITY,ALTIMETER,LOWEST_CLOUD_LAYER,N_CLOUD_LAYER,LOW_LEVEL_CLOUD,MID_LEVEL_CLOUD,HIGH_LEVEL_CLOUD,CLOUD_COVER,ACTIVE_WEATHER
0,2022-01-01,6,AA,1,AA,1,N106NN,JFK,LAX,2022-01-01 06:57:00,...,8.89,96.69,29.92,300.0,2.0,1.0,0.0,0.0,4.0,0.0
1,2022-01-01,8,AA,10,AA,10,N101NN,LAX,JFK,2022-01-01 08:57:00,...,0.61,44.92,29.87,4800.0,1.0,1.0,0.0,0.0,2.0,0.0
2,2022-01-01,0,AA,1003,AA,1003,N830NN,STL,ORD,2022-01-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-01-01,9,AA,1004,AA,1004,N805NN,ORD,FLL,2022-01-01 09:37:00,...,0.61,89.09,29.75,500.0,1.0,1.0,0.0,0.0,4.0,1.0
4,2022-01-01,23,AA,1007,AA,1007,N870NN,CLT,STL,2022-01-01 23:00:00,...,18.28,89.81,29.79,1500.0,3.0,1.0,0.0,1.0,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2022-01-01,16,AA,1154,AA,1154,N920US,PHX,MCO,2022-01-01 16:43:00,...,1.72,58.75,29.94,10000.0,1.0,0.0,1.0,0.0,1.0,0.0
96,2022-01-01,5,AA,1156,AA,1156,N176UW,PHX,ORD,2022-01-01 05:54:00,...,10.00,80.52,29.64,1000.0,3.0,1.0,1.0,0.0,4.0,1.0
97,2022-01-01,18,AA,1158,AA,1158,N943NN,DCA,DFW,2022-01-01 18:39:00,...,13.89,93.07,29.73,500.0,1.0,1.0,0.0,0.0,4.0,1.0
98,2022-01-01,0,AA,1159,AA,1159,N869NN,MIA,ORD,2022-01-01 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,2022-01-01,21,AA,116,AA,116,N834AA,OGG,DFW,2022-01-01 21:26:00,...,20.00,64.69,29.89,3500.0,1.0,1.0,0.0,0.0,1.0,0.0

## Pandas

In [3]:
# create two example data frames
df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df2 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

# check if a row in df1 is equal to a row in df2
row1 = df1.iloc[0]
row2 = df2.iloc[0]
if row1.equals(row2):
    print("The two rows are equal")
else:
    print("The two rows are not equal")

The two rows are equal

In [5]:
df1.head()

   A  B
0  1  4
1  2  5
2  3  6

In [4]:
df1.iloc[0]

A    1
B    4
Name: 0, dtype: int64

In [9]:
for index, row in df1.iterrows():
    print('index', index, 'row', row[0], row[1])

index 0 row 1 4
index 1 row 2 5
index 2 row 3 6

In [12]:
for row in df1.itertuples():
    print('row', row[0], row[1], row[2])

row 0 1 4
row 1 2 5
row 2 3 6

In [ ]:
for index, row in df1.itertuples():
    print('row', row[0], row[1], row[2])